<nav>
    <div class="nav-wrapper" style="background-color:white">
        <a href="#">
            <img src="../../assets/imgs/logo.jpg" class="logo">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" class="navbar-link">Esportes</a></li>
            <li><a href="#" class="navbar-link">Atletas</a></li>
            <li><a href="#" class="navbar-link">Países</a></li>
            <li><a href="#" class="navbar-link">Eventos</a></li>
        </ul>
    </div>
</nav>